@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.App {
  text-align: center;
  background-color: #282c34;
  background-image: url("./images/weather.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #616bfb;
}

.inputdata {
  margin-top: 2rem;
  width: 40rem;
  height: 5rem;
  background-color: transparent;
  border: yellow;
  justify-content: center;
  display: flex;
}

input {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #5d0000;
  background: transparent;
  color: #5d0000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.input-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #5d0000;
  background: transparent;
  color: #5d0000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem;
}
body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
  width: 25rem;
  height: 25rem;
  display: flex;
  margin-top: 3rem;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  transition: transform 200ms ease-in;
  width: 20rem;
  height: 20rem;
  margin-left: 3rem;
}
.card-img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}
.card-title {
  padding: 1rem;
}
.card-description {
  padding: 0 1 rem;
  font-size: 2rem;
}

.card-des {
  padding: 0 1 rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.alin {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
  margin-right: 1rem;
}

.temp-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  text-align: left;
}
.card-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #5d0000;
  background: transparent;
  color: #5d0000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card-btn {
  background: #5d0000;
  color: white;
}
